:root {
  --accent-color: #2196F3;
  --primery-color: #ffffff;
  --primery-text-color: #212121;
  --secondary-text-color: #757575;
  --secondary-wite-color: #F5F4FA;
}

body {
  background-color: var(--primery-color);
  color: var(--secondary-text-color);
  font-family: Roboto, sans-serif;
  font-weight: 400;
  letter-spacing: 0.03em;
  font-size: 14px;
}

h1,
h2,
h3,
ul,
p {
  margin: 0;
  padding: 0;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

ul {
  list-style: none;
}

h2 {
  color: var(--primery-text-color);
  font-size: 36px;
  line-height: 1.17;
  margin-bottom: 50px;
  text-align: center;
}

a {
  text-decoration: none;
}

.backdrop-checkbox__input:checked {
  background-color: #2196F3;
  background-image: url('data:image/svg+xml,%3Csvg width="13" height="10" viewBox="0 0 13 10" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M1.95703 4.75166L1.88825 4.68604L1.81923 4.75141L0.93123 5.59258L0.854858 5.66492L0.930974 5.73753L4.42671 9.07236L4.49574 9.1382L4.56476 9.07236L12.069 1.91352L12.1449 1.84116L12.069 1.76881L11.1873 0.927644L11.1183 0.861826L11.0493 0.927611L4.49577 7.17353L1.95703 4.75166Z" fill="white" stroke="white" stroke-width="0.2"/%3E%3C/svg%3E%0A');
}

.backdrop-checkbox__top {
  margin-top: 20px;
}

.backdrop-checkbox {
  margin-top: 20px;
}

.backdrop-checkbox__input {
  width: 16px;
  height: 15px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: 2px solid transparent;
  outline-offset: -2px;
  border: 2px solid black;
  border-radius: 2px;
  background-position: center;
  background-repeat: no-repeat;
}

.comment:focus {
  outline: none;
  border-color: var(--accent-color);
  cursor: pointer;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

input:focus {
  outline: none;
  border-color: var(--accent-color);
  cursor: pointer;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

label:focus-within .backdrop-inputs_svg,
label:hover {
  fill: var(--accent-color);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop-inputs__input:hover {
  border-color: var(--accent-color);
  cursor: pointer;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop-form__margin {
  margin-bottom: 12px;
}

.backdrop-form__label {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.03em;
  color: #212121;
}

.backdrop-inputs > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.backdrop-inputs > li:last-child {
  margin-bottom: 0;
}

.backdrop-inputs__input {
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
}

.backdrop-inputs__svg {
  position: absolute;
  margin-top: 11px;
  margin-bottom: 11px;
  margin-left: 12px;
}

label > p {
  margin-bottom: 4px;
}

.backdrop-inputs__comment {
  height: 120px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 16px;
  padding-right: 16px;
  resize: none;
}

.backdrop-button {
  cursor: pointer;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  font-weight: 700;
  font-style: normal;
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  border-radius: 4px;
  color: var(--primery-color);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 52px;
  padding-right: 52px;
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  margin-top: 30px;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.policy {
  margin-top: 20px;
  margin-bottom: 30px;
  margin-left: 13px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.backdrop-modal a {
  color: var(--accent-color);
}

.backdrop-inputs__name {
  text-align: start;
  font-size: 12px;
}

.backdrop-inputs__label {
  margin-bottom: 10px;
}

.backdrop-inputs__li {
  margin-top: 0;
  margin-bottom: 0;
}

.backdrop-modal__button:hover {
  fill: var(--accent-color);
}

.backdrop-form {
  visibility: visible;
  scale: 1;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.last_label {
  margin-bottom: 0px;
}

.backdrop-modal__button {
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--primery-color);
  margin-left: 490px;
  margin-top: 8px;
  margin-right: 8px;
  cursor: pointer;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop-modal {
  content: "";
  min-width: 528px;
  max-height: 581px;
  background-color: #ffffff;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  scale: 1;
  visibility: visible;
  opacity: 1;
}

.backdrop.is-hidden .backdrop-modal {
  -webkit-transform: translate(-50%, -50%) scale(2.5);
          transform: translate(-50%, -50%) scale(2.5);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-client__icon:last-child {
  margin-right: 0px;
}

.section-client__icon:hover,
.section-client__icon:focus {
  cursor: pointer;
  border-color: var(--accent-color);
  fill: var(--accent-color);
}

.section-client__box:hover,
.section-client__box:focus {
  color: var(--accent-color);
}

.section-client__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 16px;
  padding-bottom: 16px;
  border: 1px solid #AFB1B8;
  margin-right: 30px;
  border-radius: 4px;
}

.footer-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2F303A;
}

.footer-section__address a {
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.71;
  text-decoration: none;
  font-style: normal;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-section__address li:not(:last-child) {
  margin-bottom: 9px;
}

.footer-section__address .footer-section__link {
  color: var(--primery-color);
  text-decoration: none;
}

.footer-joing__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  line-height: 1.17;
  font-weight: 700;
  color: var(--primery-color);
  text-transform: uppercase;
  margin-bottom: 20px;
  margin-top: 12px;
}

.footer-joing__hovers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 44px;
  width: 44px;
  padding: 12px;
  border-radius: 50%;
  margin-right: 10px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.1)), to(rgba(255, 255, 255, 0.1)));
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
}

.footer-joing {
  margin-left: 70px;
  fill: white;
}

.footer-joing__hovers:hover,
.footer-joing__hovers:focus {
  cursor: pointer;
  background-color: var(--accent-color);
  fill: var(--primery-color);
}

.footer-joing__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-section__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-section__join {
  width: 246px;
}

.section-client__box {
  color: #AFB1B8;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-joing__hovers {
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-subscribe {
  margin-left: 83px;
  text-align: center;
}

.footer-subscribe__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  line-height: 1.17;
  font-weight: 700;
  color: var(--primery-color);
  text-transform: uppercase;
  margin-bottom: 20px;
  padding: 0;
  margin-top: 12px;
}

.footer-subscribe__probe {
  position: relative;
  width: 358px;
  height: 50px;
  border-radius: 4px;
  background-color: rgb(47, 48, 58);
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: var(--secondary-text-color);
  line-height: 20px;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  letter-spacing: 0.03em;
  font-size: 16px;
  margin-right: 12px;
  padding-left: 16px;
}

.footer-subscribe__push {
  width: 200px;
  height: 50px;
  background-color: var(--accent-color);
  text-align: center;
  color: var(--primery-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  position: absolute;
}

.plain {
  position: absolute;
  left: 28px;
  top: 10px;
  right: 28px;
  bottom: 10px;
}

.footer-section__studio {
  color: var(--primery-color);
  font-family: raleway, sans-serif;
  font-size: 26px;
  line-height: 1.17;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 20px;
}

.footer-section__web {
  color: var(--accent-color);
}

.footer-section__address a:focus,
.footer-section__address a:hover {
  color: var(--accent-color);
}

.header-nav__studio {
  color: #000000;
  font-family: raleway, sans-serif;
  font-size: 26px;
  line-height: 1.17;
  text-decoration: none;
  display: inline-block;
  margin-right: 93px;
}

.header-nav__logo {
  color: var(--accent-color);
}

.header-nav__li .header-nav__link--current {
  color: var(--accent-color);
}

.nav {
  color: var(--accent-color);
}

.header-nav__link:hover,
.header-contact__link:hover,
.header-nav__link:focus,
.header-contact__link:focus {
  color: var(--accent-color);
}

.header-nav__link {
  color: var(--primery-text-color);
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-decoration: none;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  position: relative;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-nav__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-nav__ul li:not(:last-child) {
  margin-right: 50px;
}

.header-contact__link {
  color: var(--secondary-text-color);
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-decoration: none;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-contact__li:not(:last-child) {
  margin-right: 30px;
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-contact__svg {
  margin-right: 10px;
  fill: currentColor;
}

.header-border {
  border-bottom: 1px solid #ECECEC;
}

.blue::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  opacity: 0;
  border-radius: 2px;
  margin-bottom: -1px;
  display: block;
}

.blue::after {
  opacity: 1;
}

.current {
  text-decoration: none;
}

.section-main__title {
  color: var(--primery-color);
  font-weight: 900;
  font-size: 44px;
  text-transform: uppercase;
  line-height: 1.36;
  letter-spacing: 0.06em;
}

.section-main__button {
  background-color: var(--accent-color);
  color: var(--primery-color);
  border-color: var(--accent-color);
  cursor: pointer;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  margin-top: 30px;
  padding: 10px 32px;
  border-radius: 4px;
  font-weight: 700;
}

.section-main {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-color: #2F303A;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/heroes.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/heroes.jpg);
  max-width: 1600px;
  height: 600px;
  background-position: center;
}

.section-portfolio__button {
  cursor: pointer;
  font-family: roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: 4px;
  border: none;
  padding-left: 22px;
  padding-right: 22px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-portfolio__filter {
  margin-bottom: 50px;
}

.section-portfolio__button:hover,
.section-portfolio__button:focus {
  color: var(--primery-color);
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.section-portfolio__filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-portfolio__filter li:not(:last-child) {
  margin-right: 8px;
}

.portfolio-card__describe {
  padding: 20px 24px;
  border-bottom: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE;
  border-left: 1px solid #EEEEEE;
  cursor: pointer;
  text-decoration: none;
}

.portfolio-card__title {
  color: var(--primery-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.portfolio-card__paragraph {
  font-size: 16px;
  line-height: 1.88;
  font-weight: 400;
}

.portfolio-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.portfolio-card li {
  margin-bottom: 30px;
  margin-right: 30px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card li:nth-child(3n) {
  margin-right: 0px;
}

.portfolio-card li:nth-last-child(-n+3) {
  margin-bottom: 0px;
}

.portfolio-card li:hover,
.portfolio-card li:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-card .header-contact__link {
  color: var(--secondary-text-color);
}

.portfolio-card__color {
  color: var(--primery-text-color);
}

.section-portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio-card__info:hover .portfolio-card__text {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  opacity: 1;
  cursor: pointer;
}

.portfolio-card__info {
  position: relative;
  overflow-y: hidden;
}

.portfolio-card__text {
  position: absolute;
  display: block;
  content: "";
  top: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  height: 294px;
  padding-top: 63px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 63px;
  background-color: var(--accent-color);
  color: var(--primery-color);
  opacity: 0;
  cursor: pointer;
}

ul .portfolio-card {
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-team__people {
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.section-team__network {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 16px;
  fill: currentColor;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-team__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 44px;
  width: 44px;
  padding: 12px;
  border-radius: 50%;
  margin-right: 10px;
}

.section-team__social:last-child {
  margin-right: 0px;
}

.section-team__social:hover,
.section-team__social:focus {
  cursor: pointer;
  background-color: var(--accent-color);
  fill: var(--primery-color);
}

.section-client__ul {
  fill: currentColor;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-team__icon {
  color: #AFB1B8;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-team__social {
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team li {
  background-color: var(--primery-color);
}

.section-team__title {
  color: var(--primery-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.17;
  text-align: center;
}

.section-team__profession {
  margin-top: 10px;
  text-align: center;
}

.section-team__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-team__ul li:not(:last-child) {
  margin-right: 30px;
}

.section-team__li {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.section-team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--secondary-wite-color);
}

.section-tools__title {
  color: var(--primery-text-color);
  font-size: 14px;
  line-height: 1.17;
  margin-bottom: 10px;
}

.section-client {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-tools__icon {
  width: 270px;
  height: 120px;
  border-radius: 4px;
  background: #F5F4FA;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-tools__text {
  line-height: 24px;
}

.section-tools__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.section-works {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-tools {
  padding-bottom: 0%;
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-tools__li {
  width: calc((100% - 90px) / 4);
}

.section-tools__li:not(:last-child) {
  margin-right: 30px;
}

.section-works__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-works__ul li:not(:last-child) {
  margin-right: 30px;
}

.section-works__li {
  position: relative;
}

.section-works__title {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  padding-top: 27px;
  padding-bottom: 27px;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primery-color);
  background-color: rgba(47, 48, 58, 0.8);
}/*# sourceMappingURL=main.css.map */